@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

@import './global.scss';
@import './variables.scss';

// COMPONENTS
@import './button.scss';
@import './sidebar.scss';


// PAGES
@import './signup.scss';

body{
  background: #fffffe;
}

h1,h2,h3,h4,h5,h6{
  color: #094067;
}

p{
  color: #5f6c7b;
}

.dropdown:hover .dropdown-menu {
  display: block;
}