$blue:    #3da9fc !default;
$dark-blue:  #094067 !default;
$pink:   #ef4565 !default;
$gray:    #5f6c7b !default;
$light-gray:    #90b4ce !default;
$black:   #333333 !default;
$white:   #FFFFFF !default;

$main-white: #fffffe !default;
$bg-blue: #d8eefe !default;


$theme-colors: (
    "secondary": $gray
)
